# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual Environment
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Miscellaneous
*.DS_Store
*.swp
*.swo
*.swn
Thumbs.db
*.tmp
*.temp
